<div ng-controller="TeacherCtrl">

  <div class="row">
    <p></p>
    <div class="large-12 large-offset-2 columns">

      <div class="row">
        <div class="large-6  large-offset-2 columns">
          <div ng-repeat="alert in alerts" ng-class="alert.type" class="alert-box round text-center">
            {{alert.msg}}
          </div>
        </div>
      </div>

      <div>
      <ul class="button-group">
        <li ng-repeat="info in teacherInfo.assetTypes"  >
          <a class="button" ui-sref-active="success" ui-sref="teacher.assetType({assetTypeId: info.id })"> {{info.name}}</a>
        </li>
      </ul>

      <div ui-view></div>
    </div>

    </div>
  </div>

</div>
