<table>
  <thead>
    <tr>
      <th class="text-center" width="200">Τίτλος</th>
      <th class="text-center">Ενέργειες</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="asset in teacherInfo.assetTypes[currentAssetType - 1].assets">
      <td>{{asset.content}}</td>
      <td ng-show="!asset.editable && !asset.removable">
        <a ng-click="asset.removable = !asset.removable" class="button alert">Διαγραφή</a>
        <a ng-click="asset.editable = !asset.editable" class="button">Επεξεργασία</a>
      </td>
      <td ng-show="asset.removable">
        <a ng-click="" class="button alert">Οριστική Διαγραφή του {{asset.content}}</a>
        <a ng-click="asset.removable = false" class="button secondary">Ακύρωση</a>
      </td>
      <td ng-show="asset.editable">
        <input type="text" ng-init="asset.oldName=asset.content" ng-model="asset.content" placeholder="Καινούργιο Όνομα"></input>
        <a ng-click="asset.editable = false; modifyAsset(asset.content, asset.Id)" class="button">Ολοκλήρωση Επεξεργασίας</a>
        <a ng-click="asset.editable = false; asset.content=asset.oldName" class="button secondary">Ακύρωση</a>
      </td>
    </tr>
    <tr>
      <td>
        <a ng-click="asset.createNew = !asset.createNew" class="button">Προσθήκη</a>
      </td>
    </tr>
    <tr ng-show="asset.createNew">
      <td>
        <input type="text" ng-model="asset.newContent" placeholder="Όνομα εγγραφής"></input>
        <a ng-click="asset.createNew = false; createNewAsset(asset.newContent, asset.Id)" class="button">Δημιουργία</a>
        <a ng-click="asset.createNew = false; asset.newContent=''" class="button secondary">Ακύρωση</a>
      </td>
    </tr>
  </tbody>
</table>

