<div ng-controller="TeacherCtrl">

  <div class="row">

    <div class="large-3 columns">
      <ul class="side-nav">
        <div ng-repeat="categories in teacherCategoryList">
          <li class="heading">{{categories.name}}</li>
          <li><a ui-sref-active="active" ui-sref="teacher.category({categoryId: category.id})" ng-repeat="category in categories.categories">{{category.name}}</a></li>

          <li class="divider"></li>
        </div>
        <li class="heading">Γραμματεία Π.Π.Σ.</li>
        <li><a href="/lesson/list/pre/degree">Α.Δ. Μαθημάτων Π.Π.Σ.</a></li>
      </ul>
    </div>

    <div class="large-9 columns">
      <div ui-view></div>
    </div>

  </div>

</div>
