<div ng-controller="TeacherCtrl">
  <div class="row modip-header">
    <div class="large-2 columns">
      <a href="/">
        <img src="http://data.modip.teilar.gr/sites/default/files/color/bartik-c819a95e/logo.png" alt="Αρχική">
      </a>
      <br/>
    </div>
    <div class="large-10 columns">
        <p></p>
        <p>Πληροφοριακό Σύστημα Αξιολόγησης Προγραμμάτων Σπουδών</p>
        <p>ΜοΔιΠ - Μονάδα Διασφάλισης Ποιότητας Τ.Ε.Ι. Θεσσαλίας</p>
    </div>
  </div>


  <div class="row">
    <p></p>
    <div class="large-12 large-offset-2 columns">

      <div class="row">
        <div class="large-6  large-offset-2 columns">
          <div ng-repeat="alert in alerts" ng-class="alert.type" class="alert-box round text-center">
            {{alert.msg}}
          </div>
        </div>
      </div>

      <div ng-repeat="info in teacherInfo.assetTypes">
      <ul class="button-group">
        <li><a class="button" ui-sref-active="success" ui-sref="teacher.assetType({assetTypeId: info.id })"> {{info.name}}</a></li>
      </ul>
      <div ui-view></div>
    </div>

    </div>
  </div>


  <footer class="row modip-footer">
    <div class="large-12 columns">
      <h1>Modip BACKGROUND, NEEDS SASSS!
    </div>
  </footer>

</div>
