<div class="row">
  <div class="large-3 columns">
    <div ng-repeat="categories in teacherCategoryList">
      <div ng-show="category.id == currentCategoryId" ng-repeat="category in categories.categories">
        <ul class="stack button-group">
          <li ng-repeat="child in category.children">
            <a ui-sref-active="success" ui-sref="teacher.category.subCategory({subCategoryId: child.id})"class="small button">{{child.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="large-9 columns">
    <div ui-view></div>
  </div>
</div>
