.coverage.html
.vendor
.gopath
modip.conf
node_modules
npm-debug.log

#sass tmp files
/bower_components/*
/.sass-cache/*
*.DS_Store
/stylesheets/*


tools/generators/input.txt
tools/generators/out.txt
