  </div>
</div>
<!-- footer ending -->


</div>
  </div>

  <div class="modipFooter">
  </div>

<script src="/vendor/go/js/vendor/jquery.js"></script>
<script src="/vendor/go/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
