<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Modip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/foundation.min.css" />
    <script src="/vendor/go/js/vendor/modernizr.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <div class="modipHeader">
      <div class="large-2 columns">
        <a href="/">
          <img src="http://data.modip.teilar.gr/sites/default/files/color/bartik-c819a95e/logo.png" alt="Αρχική">
        </a>
        <br/>
      </div>
      <div class="large-10 columns">
          <p></p>
          <p>Πληροφοριακό Σύστημα Αξιολόγησης Προγραμμάτων Σπουδών</p>
          <p>ΜοΔιΠ - Μονάδα Διασφάλισης Ποιότητας Τ.Ε.Ι. Θεσσαλίας</p>
      </div>
    </div>

  <div class="row large-12 columns">
    <div class="wrapFooter">
