  <div class="row">

    <div class="large-3 columns">
      <ul class="side-nav">
        <li class="heading">ΔΙΔΆΣΚΩΝ</li>
        <li><a href="/teacher/report">Α.Δ. Εκπ. Προσωπικού</a></li>
        <li class="heading">Γραμματεία Π.Π.Σ.</li>
        <li><a href="/lesson/list/pre/degree">Α.Δ. Μαθημάτων Π.Π.Σ.</a></li>
        <li><a href="/lesson/code/list">Κωδ. Μαθημάτων Π.Π.Σ.</a></li>
        <li><a href="/stuff/list">Προσωπικό Μονάδας</a></li>
        <li class="heading">Χρήστης</li>
        <li><a href="/logout">Αποσύνδεση</a></li>
      </ul>
    </div>

    <div class="large-9 columns">

