    <div class="large-2 sidebarColumn">
      <ul class="side-nav sidebar">
        <li class="heading teacherType">ΔΙΔΆΣΚΩΝ</li>
        <li class="teacherType"><a href="/teacher/report/list">Α.Δ. Εκπ. Προσωπικού</a></li>
        <li class="teacherType"><a href="/research/program">Ερευνητικό Πρόγραμμα</a></li>
        <li class="heading secretaryType">Γραμματεία Π.Π.Σ.</li>
        <li class="secretaryType"><a href="/lesson/list/pre/degree">Α.Δ. Μαθημάτων Π.Π.Σ.</a></li>
        <li class="secretaryType"><a href="/lesson/code/list">Κωδ. Μαθημάτων Π.Π.Σ.</a></li>
        <li class="secretaryType"><a href="/stuff/list">Προσωπικό Μονάδας</a></li>
        <li class="heading">Χρήστης</li>
        <li><a href="/logout">Αποσύνδεση</a></li>
      </ul>
    </div>

    <div class="large-10 columns">

