{{template "header.tmpl"}}
<form method="POST" action="">
  <div class="row">
    <div class="large-12 columns">
      <label>Συγγραφέας
        <input name="author" value="{{.Field1}}" type="text" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Τίτλος
        <input name="title" value="{{.Field2}}" type="text" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Περιοδικό
        <input name="is_magazine" value="{{.Field3}}" type="checkbox" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Εκδότης
        <input name="publisher" value="{{.Field4}}" type="text" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ημερομηνία Δημοσίευσης
        <input name="publication_date" value="{{.Field5}}" type="date" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Τύπος
        <select name="type">
          <option value="Βιβλία-Mονογραφίες">Βιβλία-Mονογραφίες</option>
          <option value="Επιστημονικά Περιοδικά με Κριτές">Επιστημονικά Περιοδικά με Κριτές</option>
          <option value="Επιστημονικά Περιοδικά Χωρίς Κριτές">Επιστημονικά Περιοδικά Χωρίς Κριτές</option>
          <option value="Πρακτικά Διεθνών Συνεδρίων με Kριτές">Πρακτικά Διεθνών Συνεδρίων με Kριτές</option>
          <option value="Ανακοινώσεις σε Διεθνή Επιστημονικά Συνέδρια">Ανακοινώσεις σε Διεθνή Επιστημονικά Συνέδρια</option>
          <option value="Ανακοινώσεις σε Εθνικά Επιστημονικά Συνέδρια">Ανακοινώσεις σε Εθνικά Επιστημονικά Συνέδρια</option>
          <option value="Άλλες Εργασίες">Άλλες Εργασίες</option>
          <option value="Κεφάλαια σε Συλλογικούς Τόμους">Κεφάλαια σε Συλλογικούς Τόμους</option>
          <option value="Άλλα">Άλλα</option>
        </select>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>
{{template "footer.tmpl"}}
