<div class="large-9 columns">

<form method="POST" action="/teacher/report/5/{{.akademicYearId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Σύνδεση με την κοινωνία
        <textarea rows="4" name="sundesi_me_thn_koinonia_sundesi_me_tin_koinonia" placeholder="">{{.t.Entry5.Field1}}</textarea>
      </label>
      <small>Αναφέρατε άλλες δραστηριότητες που αποτελούν προσφορά υπηρεσιών στο κοινωνικό σύνολο</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
