{{template "header.tmpl"}}
<form method="POST" action="/stuff/edit">

  <div class="row">
    <div class="large-12 columns">
      <input type="hidden" name="id" value="{{.t.Id}}" placeholder="" required />
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ονοματεπώνυμο
        <input type="text" name="name" value="{{.t.Name}}" placeholder="" required />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Email Χρήστη
        <input type="email" name="email" value="{{.t.Email}}" placeholder="" required />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Βαθμίδα
        <select name="type">
          {{range $index, $element := .teacherType}}
            <option value="{{$index}}">{{$element}}</option>
          {{end}}
        </select>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</button>
    </div>
  </div>
</form>
{{template "footer.tmpl"}}
