{{template "header.tmpl"}}
{{if .}}
{{range $index, $element := .}}
  <p>Τμήμα: {{.Name}}</p>
  <table>
    <thead>
      <tr>
        <th>A/A</th>
        <th>Όνομα Χρήστη</th>
        <th>Βαθμίδα</th>
        <th>Ονοματεπώνυμο</th>
        <th>Email Επικοινωνίας</th>
        <th>Ενέργειες</th>
      </tr>
    </thead>
    <tbody>
      {{range $index, $element2 := $element.Teachers}}
        <tr>
          <td>{{add $index 1}}</td>
          <td>{{.Username}}</td>
          <td>{{.TypeName}}</td>
          <td>{{.Name}}</td>
          <td>{{.Email}}</td>
          <td>
            <a href="/stuff/edit/{{.Id}}">Επεξεργασία</a>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
{{else}}
  <div data-alert="" class="alert-box alert round">
    <p class="text-center">Δεν υπάρχει προσωπικό για αυτό το τμήμα.</p>
  </div>
{{end}}
{{end}}

<a class="button" href="/stuff/create">Νέα Εγγραφή</a>
{{template "footer.tmpl"}}
