{{template "header.tmpl"}}
<table>
  <thead>
    <tr>
      <th>A/A</th>
      <th>Τίτλος Προγράμματος</th>
      <th>Φορέας Διαχείρισης</th>
      <th>Φορέας Χρηματοδότησης</th>
      <th>Προϋπολογισμός</th>
      <th>Ημερ. Έναρξης</th>
      <th>Διάρκεια</th>
      <th>Κατάσταση</th>
      <th>ΕΝΕΡΓΕΙΕΣ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td><a href="/research/program/edit/report/1">Επεξεργασία</a></td>
    </tr>
  </tbody>
</table>

{{template "footer.tmpl"}}
