{{template "header.tmpl"}}
<form method="POST" action="/akademic/year/create">

  <div class="row">
    <div class="large-12 columns">
      <label>Όνομα Ακαδημαϊκού έτους
        <input type="text" name="name" placeholder="" required />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</button>
    </div>
  </div>
</form>
{{template "footer.tmpl"}}
