{{template "header.tmpl"}}
<form method="POST" action="/lesson/code/create">
  <div class="row">
    <div class="large-12 columns">
      <label>Τμήμα
        <select>
          {{range .}}
            <option value="{{.Id}}">{{.Name}}</option>
          {{end}}
        </select>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Κωδ. Μαθήματος
        <input type="text" name="lesson_code_create_lesson_code" placeholder="" required />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Μάθημα
        <input type="text" name="lesson_code_create_lesson_name" placeholder="" required />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>CourseCode (Cardisoft)
        <input type="text" name="lesson_code_create_lesson_cardisoft_code" placeholder="" required />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</button>
    </div>
  </div>
</form>

<select>
<option value="sydney">Sydney</option>
<option value="melbourne">Melbourne</option>
<option value="cromwell" selected="">Cromwell</option>
<option value="queenstown">Queenstown</option>
</select>


{{template "footer.tmpl"}}
