{{template "header.tmpl"}}

<form method="POST">
  <div class="row">
    <div class="large-12 columns">
      <label>Τμήμα
        <select id="lessonMoveToDepartment" name="lesson_code_create_lesson_department">
          <option selected>-- Παρακαλώ Διαλέξτε τμήμα</option>
          {{range .}}
            <option value="/lesson/code/list/{{.Id}}">{{.Name}}</option>
          {{end}}
        </select>
      </label>
    </div>
  </div>
</form>

<a class="button" href="/lesson/code/create">Νέα Εγγραφή</a>
{{template "footer.tmpl"}}
