{{template "header.tmpl"}}
{{if .}}
  <table>
    <thead>
      <tr>
        <th >A/A</th>
        <th>Κωδ. Μαθήματος</th>
        <th>Μάθημα</th>
        <th>Ενέργειες</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{range $index, $element :=.}}
        <tr>
          <td>{{add $index 1}}</td>
          <td>{{.CourseCode}}</td>
          <td>{{.Name}}</td>
          <td>
            <a href="/lesson/code/edit/{{.Id}}">Επεξεργασία</a>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
{{else}}
  <div data-alert="" class="alert-box alert round">
    <p class="text-center">Δεν υπάρχουν μαθήματα για αυτό το τμήμα.</p>
  </div>
{{end}}

<a class="button" href="/lesson/code/create">Νέα Εγγραφή</a>
{{template "footer.tmpl"}}
