{{template "header.tmpl"}}
<B> This is a fking list with 1 element</B>
{{range .}}
<p>Id: {{.Id}}</p>
<p>Name: {{.Name}} </p>
{{end}}

<a class="button" href="/lesson/pre/degree/create/report">Νέα Εγγραφή</a>
{{template "footer.tmpl"}}
