<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/9/{{.LessonId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Τρόποι Αξιολόγησης</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis_grapti_eksetasi" required=""> Εξέταση γραπτή στο τέλος του Εξαμήνου</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis_proforiki_eksetasi" required=""> Εξέταση προφορική στο τέλος του Εξαμήνου</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis_proodos" required=""> Πρόοδος (ενδιάμεση εξέταση)</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis_katoi_kon_ergasia" required=""> Κατ' οίκον εργασία</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis_proforiki_parousiasi_ergasias" required=""> Προφορική παρουσίαση εργασίας</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis_ergashtirio_praktikes_askiseis" required=""> Εργαστήριο ή πρακτικές ασκήσεις</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis_alla" required=""> Άλλα *</label>

    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Επεξηγήσεις - Άλλα
        <textarea rows="4" name="lesson_aksiologisi_ths_epidosis_epeksigiseis_alla" type="text" placeholder="">{{.Entry9.Field2}}</textarea>
      </label>
      <small>Περιγράψτε συνοπτικά τυχόν άλλους τρόπους αξιολόγησης</small>
    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Τρόποι Αξιολόγησης</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis_parakolou8ish_spoudaston_sto_erg" required=""> Κατά την εκτέλεση των εργαστηριακών ή πρακτικών ασκήσεων παρακολουθούνται όλοι οι σπουδαστές.</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis_sxolia_mesa_eksaminou" required=""> Οι σπουδαστές λαμβάνουν συστηματικά σχόλια (προφορικά ή γραπτά) στο μέσον του εξαμήνου.</label>
    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Πώς διασφαλίζετε τη διαφάνεια στην αξιολόγηση της επίδοσης των σπουδαστών;
        <textarea rows="4" name="lesson_aksiologisi_ths_epidosis_diafania_aksiologisis_tis_epidosis" type="text" placeholder="">{{.Entry9.Field4}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
