<div class="large-9 columns">

<form method="POST" action="/lesson/pre/degree/create/report/9/{{.lessons.LessonId}}/{{.akademicYearId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Τρόποι Αξιολόγησης</label>
      <label for="checkbox1"><input {{if .lessons.Entry9.Field1}} checked {{end}} type="checkbox" name="lesson_aksiologisi_ths_epidosis_grapti_eksetasi"> Εξέταση γραπτή στο τέλος του Εξαμήνου</label>
      <label for="checkbox1"><input {{if .lessons.Entry9.Field2}} checked {{end}} type="checkbox" name="lesson_aksiologisi_ths_epidosis_proforiki_eksetasi"> Εξέταση προφορική στο τέλος του Εξαμήνου</label>
      <label for="checkbox1"><input {{if .lessons.Entry9.Field3}} checked {{end}} type="checkbox" name="lesson_aksiologisi_ths_epidosis_proodos"> Πρόοδος (ενδιάμεση εξέταση)</label>
      <label for="checkbox1"><input {{if .lessons.Entry9.Field4}} checked {{end}} type="checkbox" name="lesson_aksiologisi_ths_epidosis_katoi_kon_ergasia"> Κατ' οίκον εργασία</label>
      <label for="checkbox1"><input {{if .lessons.Entry9.Field5}} checked {{end}} type="checkbox" name="lesson_aksiologisi_ths_epidosis_proforiki_parousiasi_ergasias"> Προφορική παρουσίαση εργασίας</label>
      <label for="checkbox1"><input {{if .lessons.Entry9.Field6}} checked {{end}} type="checkbox" name="lesson_aksiologisi_ths_epidosis_ergashtirio_praktikes_askiseis"> Εργαστήριο ή πρακτικές ασκήσεις</label>
      <label for="checkbox1"><input {{if .lessons.Entry9.Field7}} checked {{end}} type="checkbox" name="lesson_aksiologisi_ths_epidosis_alla"> Άλλα *</label>

    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Επεξηγήσεις - Άλλα
        <textarea rows="4" name="lesson_aksiologisi_ths_epidosis_epeksigiseis_alla" type="text" placeholder="">{{.lessons.Entry9.Field8}}</textarea>
      </label>
      <small>Περιγράψτε συνοπτικά τυχόν άλλους τρόπους αξιολόγησης</small>
    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Τρόποι Αξιολόγησης</label>
      <label for="checkbox1"><input type="checkbox" {{if .lessons.Entry9.Field9}} checked {{end}} name="lesson_aksiologisi_ths_epidosis_parakolou8ish_spoudaston_sto_erg"> Κατά την εκτέλεση των εργαστηριακών ή πρακτικών ασκήσεων παρακολουθούνται όλοι οι σπουδαστές.</label>
      <label for="checkbox1"><input type="checkbox" {{if .lessons.Entry9.Field10}} checked {{end}} name="lesson_aksiologisi_ths_epidosis_sxolia_mesa_eksaminou"> Οι σπουδαστές λαμβάνουν συστηματικά σχόλια (προφορικά ή γραπτά) στο μέσον του εξαμήνου.</label>
    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Πώς διασφαλίζετε τη διαφάνεια στην αξιολόγηση της επίδοσης των σπουδαστών;
        <textarea rows="4" name="lesson_aksiologisi_ths_epidosis_diafania_aksiologisis_tis_epidosis" type="text" placeholder="">{{.lessons.Entry9.Field11}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
