<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/6">

  <div class="row">
    <div class="large-12 columns">
        <input name="lessonId" type="hidden" value="{{.Id}}" placeholder=""/>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Άλλες εκπαιδευτικές δραστηριότητες;
        <textarea rows="4" name="lesson_alles_ekpedeutikes_drastiriotites_alles_drastiriotites" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
