<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/6/{{.LessonId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Άλλες εκπαιδευτικές δραστηριότητες;
        <textarea rows="4" name="lesson_alles_ekpedeutikes_drastiriotites_alles_drastiriotites" type="text" placeholder="">{{.Entry6.Field1}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
