<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/15/{{.LessonId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Υπάρχει διαδικασία αξιολόγησης του μαθήματος και της διδασκαλίας από τους σπουδαστές; Πώς εφαρμόζεται;
        <textarea rows="4" name="apopsi_spoudaston_gia_to_ma8ima_yparxei_diadikasia_aksiologisis_tou_ma8imatos" type="text" placeholder="">{{.Entry15.Field1}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Πώς αξιοποιούνται τα αποτελέσματα αυτών των αξιολογήσεων;
        <textarea rows="4" name="apopsi_spoudaston_gia_to_ma8ima_pws_aksiopoiountai_auta_ta_apotelesmata" type="text" placeholder="">{{.Entry15.Field2}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
