{{template "header.tmpl"}}
<dl class="tabs vertical lesson-tab-fix-size lesson-tab" data-tab>
  <dd class="active"><a href="#panel1">Περιγραφή</a></dd>
  <dd><a href="#panel2">Διδασκαλία</a></dd>
  <dd><a href="#panel3">Ενημέρωση - Αξιολόγηση</a></dd>
  <dd><a href="#panel4">Διδακτέα Ύλη</a></dd>
  <dd><a href="#panel5">Διδακτικά Βοηθήματα</a></dd>
  <dd><a href="#panel6">Άλλες Εκπαιδευτικές Δραστηριότητες</a></dd>
  <dd><a href="#panel7">Επικοινωνία & Καθοδήγηση Σπουδαστών / Συνεργασίες</a></dd>
  <dd><a href="#panel8">Συμμετοχή Σπουδαστών</a></dd>
  <dd><a href="#panel9">Αξιολόγηση της επίδοσης των μαθητών στο μάθημα</a></dd>
  <dd><a href="#panel10">Διαθέσιμη εκπαιδευτική υποδομή του μαθήματος</a></dd>
  <dd><a href="#panel11">Αξιοποίηση Τεχνολογιών Πληροφορικής και Επικοινωνιών (ΤΠΕ)</a></dd>
  <dd><a href="#panel12">Εκπαιδευτικά Μέσα</a></dd>
  <dd><a href="#panel13">Στατιστικά Στοιχεία Σπουδαστών</a></dd>
  <dd><a href="#panel14">Κατανομή βαθμών σπουδαστών (%)</a></dd>
  <dd><a href="#panel15">Η άποψη των σπουδαστών για το μάθημα</a></dd>
  <dd><a href="#panel16">Σχόλια</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    {{template "perigrafi.tmpl" .}}
  </div>
  <div class="content" id="panel2">
  </div>
  <div class="content" id="panel3">
    {{template "enhmerwsi.tmpl" .}}
  </div>
  <div class="content" id="panel4">
    {{template "didaktea_yli.tmpl" .}}
  </div>
  <div class="content" id="panel5">
    {{template "didaktika_boh8imata.tmpl" .}}
  </div>
  <div class="content" id="panel6">
    {{template "alles_ekpedeutikes_drastiriotites.tmpl" .}}
  </div>
  <div class="content" id="panel7">
    {{template "epikoinonia.tmpl" .}}
  </div>
  <div class="content" id="panel8">
    {{template "summetoxi_spoudaston.tmpl" .}}
  </div>
  <div class="content" id="panel9">
    {{template "aksiologisi_ths_epidosis.tmpl" .}}
  </div>
  <div class="content" id="panel10">
    {{template "dia8esimi_ekpedeutikh_ypodomh_tou_ma8imatos.tmpl" .}}
  </div>
  <div class="content" id="panel11">
    {{template "aksiopoihsh_texnologion_pliroforikhs_kai_epikoinonion.tmpl" .}}
  </div>
  <div class="content" id="panel12">
    {{template "ekpedeutika_mesa.tmpl" .}}
  </div>
  <div class="content" id="panel13">
    {{template "statistoika_stoixeia_spoudaston.tmpl" .}}
  </div>
  <div class="content" id="panel14">
    {{template "katanomi_ba8mon_spoudaston.tmpl" .}}
  </div>
  <div class="content" id="panel15">
    {{template "apopsi_spoudaston_gia_to_ma8ima.tmpl" .}}
  </div>
  <div class="content" id="panel16">
    {{template "sxolia.tmpl" .}}
  </div>

</div>

{{template "footer.tmpl"}}
