<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/10">
  <div class="row">
    <div class="large-12 columns">
        <input name="lessonId" type="hidden" value="{{.Id}}" placeholder=""/>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Αίθουσες διδασκαλίας που χρησιμοποιούνται για το συγκεκριμένο μάθημα
        <textarea rows="4" name="dia8esimi_ekpedeutikh_ypodomh_tou_ma8imatos_ai8ouses_didaskalias_pou_xrisimopoiountai" type="text" placeholder=""></textarea>
      </label>
        <small>Αναφερθείτε στην επάρκεια, καταλληλότητα, ποιότητα των αιθουσών και του υποστηρικτικού εξοπλισμού και τη διαθεσιμότητά τους</small>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Εργαστήρια που χρησιμοποιούνται για το συγκεκριμένο μάθημα
        <textarea rows="4" name="dia8esimi_ekpedeutikh_ypodomh_tou_ma8imatos_ergasthria_pou_xrhsimopoiountai_gia_to_sugkekrimeno_ma8ima" type="text" placeholder=""></textarea>
      </label>
        <small>Αναφερθείτε στην επάρκεια, καταλληλότητα, ποιότητα των εργαστηριακών χώρων, του εργαστηριακού εξοπλισμού και της διαθεσιμότητάς του</small>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Είναι διαθέσιμα τα εργαστήρια του μαθήματος για χρήση εκτός προγραμματισμένων ωρών;
        <textarea rows="4" name="dia8esimi_ekpedeutikh_ypodomh_tou_ma8imatos_einai_dia8esima_ta_ergasthria_tou_ma8imatos_gia_xrisi_ektos_programmatismenon_wrwn" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Σπουδαστήρια
        <textarea rows="4" name="dia8esimi_ekpedeutikh_ypodomh_tou_ma8imatos_spoudasthria" type="text" placeholder=""></textarea>
      </label>
        <small>Αναφερθείτε στην επάρκεια, καταλληλότητα, ποιότητα των χώρων, του εξοπλισμού και της διαθεσιμότητάς τους</small>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Χρησιμοποιείτε Εκπαιδευτικό Λογισμικό και ποιο; (περιγράψτε συνοπτικά)
        <textarea rows="4" name="dia8esimi_ekpedeutikh_ypodomh_tou_ma8imatos_xrhsimopoihtai_ekpedeutiko_logismiko_kai_poio" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Υπάρχει ικανοποιητική υποστήριξη του μαθήματος από τη βιβλιοθήκη (βιβλιογραφία και άλλοι μαθησιακοί πόροι);
        <textarea rows="4" name="dia8esimi_ekpedeutikh_ypodomh_tou_ma8imatos_yparxei_ikanopoihtiki_ypostiriksi_tou_ma8imatos_apo_tin_biblio8iki" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Πώς κρίνετε συνολικά τη διαθέσιμη εκπαιδευτική υποδομή;
        <textarea rows="4" name="dia8esimi_ekpedeutikh_ypodomh_tou_ma8imatos_pws_krinete_sunolika_tin_dia8esimi_ekpedeutiki_ypodomi" type="text" placeholder=""></textarea>
      </label>
        <small>Αν η απάντηση είναι αρνητική, σχολιάστε συνοπτικά τυχόν ελλείψεις και καταγράψτε τις αναγκαίες βελτιώσεις σύμφωνα με τις παραπάνω κατηγορίες</small>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Αίθουσες διδασκαλίας που χρησιμοποιούνται για το συγκεκριμένο μάθημα
        <textarea rows="4" name="dia8esimi_ekpedeutikh_ypodomh_tou_ma8imatos_" type="text" placeholder=""></textarea>
      </label>
        <small>Αναφερθείτε στην επάρκεια, καταλληλότητα, ποιότητα των αιθουσών και του υποστηρικτικού εξοπλισμού και τη διαθεσιμότητά τους</small>
    </div>
  </div>
  <br/>


  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
