<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/4/{{.LessonId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Πότε πραγματοποιήθηκε η τελευταία αναπροσαρμογή / επικαιροποίηση της ύλης του μαθήματος;
        <textarea rows="4" name="lesson_didaktea_yli_anaprosarmogi_mathimatos" type="text" placeholder="">{{.Entry4.Field1}}</textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Υπάρχει επικάλυψη ύλης με άλλα μαθήματα και πώς το αντιμετωπίζετε;
        <textarea rows="4" name="lesson_didaktea_yli_epikalipsi_ylis_me_alla_ma8imata" type="text" placeholder="">{{.Entry4.Field2}}</textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
