<div class="large-9 columns">

<form method="POST" action="/lesson/pre/degree/create/report/2/{{.lessons.LessonId}}/{{.akademicYearId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Τύπος Μαθήματος</label>
      <label for="radio1"><input {{if .lessons.Entry2.Field1}} checked {{end}} type="checkbox" name="lesson_didaskalia_typos_ma8iomatos1" > Διαλέξεις (Δ)</label>
      <label for="radio1"><input {{if .lessons.Entry2.Field2}} checked {{end}} type="checkbox" name="lesson_didaskalia_typos_ma8iomatos2" > Φροντιστήριο (Φ)</label>
      <label for="radio1"><input {{if .lessons.Entry2.Field3}} checked {{end}} type="checkbox" name="lesson_didaskalia_typos_ma8iomatos3" > Εργαστήριο (Ε)</label>
      <label for="radio1"><input {{if .lessons.Entry2.Field4}} checked {{end}} type="checkbox" name="lesson_didaskalia_typos_ma8iomatos4" > Πρακτικό (Π)</label>
      <label for="radio1"><input {{if .lessons.Entry2.Field5}} checked {{end}} type="checkbox" name="lesson_didaskalia_typos_ma8iomatos5" > Ασκήσεις (Α)</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Διδασκαλίας Θ
        <input type="text" value="{{.lessons.Entry2.Field6}}" name="lesson_didaskalia_wres_didaskaliasi_8" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Διδασκαλίας Α/Π
        <input type="text" value="{{.lessons.Entry2.Field7}}" name="lesson_didaskalia_wres_didaskalias_AP" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Διδασκαλίας Ε
        <input type="text" value="{{.lessons.Entry2.Field8}}" name="lesson_didaskalia_wres_didaskalias_E" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Μονάδες ECTS Θ & Α/Π
        <input type="text" value="{{.lessons.Entry2.Field9}}" name="lesson_didaskalia_monadesECTS_8AP" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Μονάδες ECTS Ε
        <input type="text" value="{{.lessons.Entry2.Field10}}" name="lesson_didaskalia_monadesECTS_E" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Διδασκαλίας / Εβδομάδα
        <input type="text" value="{{.lessons.Entry2.Field11}}" name="lesson_didaskalia_wres_didaskalias_ana_bdomada" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Περιλαμβάνονται Ώρες Εργαστηρίου ή Άσκησης
        <input type="checkbox" value="{{.lessons.Entry2.Field12}}" name="lesson_didaskalia_wres_ergasthriou_askhshs" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Εργαστηρίου - Άσκησης (ανά εβδομάδα)
        <input type="text" value="{{.lessons.Entry2.Field13}}" name="lesson_didaskalia_wres_ergasthriou_ana_bdomada" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Προβλεπόμενες ώρες Διαλέξεων ανα Εξάμηνο
        <input type="text" value="{{.lessons.Entry2.Field14}}" name="lesson_didaskalia_problepomenes_wres_ergasthriou_ana_eksamino" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Προβλεπόμενες ώρες διδασκαλίας μικρών ομάδων ανά Εξάμηνο
        <input type="text" value="{{.lessons.Entry2.Field15}}" name="lesson_didaskalia_problepomenes_wres_didaskalias_mikron_omadon_ana_eksamino" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Προβλεπόμενες ώρες διδασκαλίας ανά Εξάμηνο (Άλλη)
        <input type="text" value="{{.lessons.Entry2.Field16}}" name="lesson_didaskalia_problepomenes_wres_didaskalias_ana_eksamino_alli" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Προβλεπόμενες ώρες διδασκαλίας ανά Εξάμηνο (Άλλη)</label>
      <label for="checkbox1"><input type="checkbox" {{if .lessons.Entry2.Field17}} checked {{end}} name="lesson_didaskalia_pollapli_bibiografia" > Πολλαπλή Βιβλιογραφία</label>
      <label for="checkbox1"><input type="checkbox" {{if .lessons.Entry2.Field18}} checked {{end}} name="lesson_didaskalia_diati8ete_ergasia_proodos" > Διατίθεται Εργασία ή Πρόοδος</label>
      <label for="checkbox1"><input type="checkbox" {{if .lessons.Entry2.Field19}} checked {{end}} name="lesson_didaskalia_ypoxreotiki_ergasia_proodos" > Η Εργασία ή Πρόοδος είναι Υποχρεωτική</label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
