<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/5/{{.LessonId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Πότε πραγματοποιήθηκε η τελευταία αναπροσαρμογή / επικαιροποίηση της ύλης του μαθήματος;
        <textarea rows="4" name="lesson_didaktika_boi8imata_boi8imata_pou_dianemontai_stous_foithtes" type="text" placeholder="">{{.Entry5.Field1}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Πότε πραγματοποιήθηκε η τελευταία αναπροσαρμογή / επικαιροποίηση της ύλης του μαθήματος;
        <textarea rows="4" name="lesson_didaktika_boi8imata_epikairopoihsh_ton_boh8imaton" type="text" placeholder="">{{.Entry5.Field2}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ποιο ποσοστό της διδασκόμενης ύλης καλύπτεται από τα βοηθήματα;
        <textarea rows="4" name="lesson_didaktika_boi8imata_pososto_didaskomenis_ylis_pou_kaliptete" type="text" placeholder="">{{.Entry5.Field3}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Παρέχετε πρόσθετη βιβλιογραφία πέραν των διανεμόμενων συγγραμμάτων;
        <textarea rows="4" name="lesson_didaktika_boi8imata_prostheti_bibliografia" type="text" placeholder="">{{.Entry5.Field4}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Πότε πραγματοποιήθηκε η τελευταία αναπροσαρμογή / επικαιροποίηση της ύλης του μαθήματος;
        <textarea rows="4" name="lesson_didaktika_boi8imata_epikairopoihsh_ylis" type="text" placeholder="">{{.Entry5.Field5}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Πώς γνωστοποιείτε στους σπουδαστές την ύλη του μαθήματος, τους μαθησιακούς στόχους και τον τρόπο αξιολόγησης τους;
        <textarea rows="4" name="lesson_didaktika_boi8imata_gnostopoihsh_ylis_stous_foithtes" type="text" placeholder="">{{.Entry5.Field6}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
