<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/2">
  <div class="row">
    <div class="large-12 columns">
        <input name="lessonId" type="hidden" value="{{.Id}}" placeholder=""/>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Τύπος Μαθήματος</label>
      <label for="radio1"><input name="radioButtons" type="radio" id="lesson_didaskalia_typos_ma8iomatos1" required=""> Διαλέξεις (Δ)</label>
      <label for="radio1"><input name="radioButtons" type="radio" id="lesson_didaskalia_typos_ma8iomatos2" required=""> Φροντιστήριο (Φ)</label>
      <label for="radio1"><input name="radioButtons" type="radio" id="lesson_didaskalia_typos_ma8iomatos3" required=""> Εργαστήριο (Ε)</label>
      <label for="radio1"><input name="radioButtons" type="radio" id="lesson_didaskalia_typos_ma8iomatos4" required=""> Πρακτικό (Π)</label>
      <label for="radio1"><input name="radioButtons" type="radio" id="lesson_didaskalia_typos_ma8iomatos5" required=""> Ασκήσεις (Α)</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Διδασκαλίας Θ
        <input type="text" name="lesson_didaskalia_wres_didaskaliasi_8" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Διδασκαλίας Α/Π
        <input type="text" name="lesson_didaskalia_wres_didaskalias_AP" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Διδασκαλίας Ε
        <input type="text" name="lesson_didaskalia_wres_didaskalias_E" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Μονάδες ECTS Θ & Α/Π
        <input type="text" name="lesson_didaskalia_monadesECTS_8AP" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Μονάδες ECTS Ε
        <input type="text" name="lesson_didaskalia_monadesECTS_E" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Διδασκαλίας / Εβδομάδα
        <input type="text" name="lesson_didaskalia_wres_didaskalias_ana_bdomada" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Περιλαμβάνονται Ώρες Εργαστηρίου ή Άσκησης
        <input type="checkbox" name="lesson_didaskalia_wres_ergasthriou_askhshs" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Ώρες Εργαστηρίου - Άσκησης (ανά εβδομάδα)
        <input type="text" name="lesson_didaskalia_wres_ergasthriou_ana_bdomada" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Προβλεπόμενες ώρες Διαλέξεων ανα Εξάμηνο
        <input type="text" name="lesson_didaskalia_problepomenes_wres_ergasthriou_ana_eksamino" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Προβλεπόμενες ώρες διδασκαλίας μικρών ομάδων ανά Εξάμηνο
        <input type="text" name="lesson_didaskalia_problepomenes_wres_didaskalias_mikron_omadon_ana_eksamino" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Προβλεπόμενες ώρες διδασκαλίας ανά Εξάμηνο (Άλλη)
        <input type="text" name="lesson_didaskalia_problepomenes_wres_didaskalias_ana_eksamino_alli" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Προβλεπόμενες ώρες διδασκαλίας ανά Εξάμηνο (Άλλη)</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_didaskalia_pollapli_bibiografia" required=""> Πολλαπλή Βιβλιογραφία</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_didaskalia_diati8ete_ergasia_proodos" required=""> Διατίθεται Εργασία ή Πρόοδος</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_didaskalia_ypoxreotiki_ergasia_proodos" required=""> Η Εργασία ή Πρόοδος είναι Υποχρεωτική</label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
