<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/12/{{.LessonId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Τρόποι Αξιολόγησης</label>
      <label for="checkbox1"><input type="checkbox" id="ekpedeutika_mesa_xrhsh_ekpedeutikon_meson" required=""> Χρήση Εκπ/ων Μέσων (Επιλέξτε αν γίνεται Χρήση Εκπ/ων Μέσων)</label>
      <label for="checkbox1"><input type="checkbox" id="ekpedeutika_mesa_eparkeia_ekpedeutikon_meson" required=""> Επάρκεια Εκπ/ων Μέσων (Επιλέξτε αν θεωρείτε ότι υπάρχει Επάρκεια Εκπ/ων Μέσων)</label>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="large-12 columns">
      <label>Αναφορά Ελλείψεων Εκπ/ων Μέσων
        <textarea rows="4" name="ekpedeutika_mesa_anafora_elleipseon_ekpedeutikon_meson" type="text" placeholder="">{{.Entry12.Field2}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
