<div class="large-9 columns">

<form method="POST" action="/lesson/pre/degree/create/report/7/{{.lessons.LessonId}}/{{.akademicYearId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Έχετε ανακοινωμένες ώρες γραφείου για συνεργασία με τους σπουδαστές;
        <textarea rows="4" name="lesson_epikoinonia_wres_grafeiou" type="text" placeholder="">{{.lessons.Entry7.Field1}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Πώς μεθοδεύετε την εκπαίδευση των σπουδαστών στην ερευνητική διαδικασία (π.χ. αναζήτηση και χρήση βιβλιογραφίας);
        <textarea rows="4" name="lesson_epikoinonia_ekepedeusi_methodos" type="text" placeholder="">{{.lessons.Entry7.Field2}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Οργάνωση εκπαιδευτικών επισκέψεων κ.τ.λ.
        <textarea rows="4" name="lesson_epikoinonia_organosi_ekpedeutikon_episkepseon" type="text" placeholder="">{{.lessons.Entry7.Field3}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
