<div class="large-6 columns">
<form method="POST" action="/lesson/pre/degree/create/report/1/{{.lessons.LessonId}}/{{.akademicYearId}}">
  <div class="row">
    <div class="large-12 columns">
      <label>Περιγραφή / Περιεχόμενο μαθήματος
        <textarea rows="4" name="lesson_perigrafi_periexomeno_ma8imatos" type="text" placeholder="">{{.Entry1.Field1}}</textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Μαθησιακοί Στόχοι
        <textarea rows="4" name="lesson_perigrafi_ma8isiakoi_stoxoi" type="text" placeholder="">{{.Entry1.Field2}}</textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
