<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/13/{{.lessons.LessonId}}/{{.akademicYearId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Σας κοινοποιείται κατάλογος των σπουδαστών που είναι εγγεγραμμένοι στο μάθημα και πότε;
        <textarea rows="4" name="statistoika_stoixeia_koinopoieitai_katologos_ton_spoudaston_pou_einai_grammenoi_sto_ma8ima" type="text" placeholder="">{{.Entry13.Field1}}</textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
