<div class="large-9 columns">

<form method="POST" action="/lesson/pre/degree/create/report/8/{{.lessons.LessonId}}/{{.akademicYearId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Συμμετοχή στην Κανονική Εξέταση (Χειμ. ή Εαρ.)
        <input type="text" value="{{.lessons.Entry8.Field1}}" name="lesson_summetoxi_spoudaston_summetoxi_stin_kanoniki_eksetasi" placeholder="">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Συμμετοχή στην Επαναληπτική Εξέταση
        <input type="number" value="{{.lessons.Entry8.Field2}}" name="lesson_summetoxi_spoudaston_summetoxi_stin_epanaliptikh_eksetasi" placeholder="">
      </label>
      <small>Συμπληρώστε τον αριθμό φοιτητών που συμμετείχαν στην επαναληπτική εξέταση του εξαμήνου</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
