<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/16">
  <div class="row">
    <div class="large-12 columns">
        <input name="lessonId" type="hidden" value="{{.Id}}" placeholder=""/>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Σχόλια
        <textarea rows="4" name="sxolia_sxolia" type="text" placeholder=""></textarea>
      </label>
      <small>Συμπληρώστε σχόλια που αφορούν τα άνω πεδία</small>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
