<div class="large-6 columns">

<form method="POST" action="/lesson/pre/degree/create/report/16/{{.lessons.LessonId}}/{{.akademicYearId}}">

  <div class="row">
    <div class="large-12 columns">
      <label>Σχόλια
        <textarea rows="4" name="sxolia_sxolia" type="text" placeholder="">{{.Entry16.Field1}}</textarea>
      </label>
      <small>Συμπληρώστε σχόλια που αφορούν τα άνω πεδία</small>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθήκευση</a>
    </div>
  </div>
</form>

</div>
