{{template "header.tmpl"}}
<div class="row">
    <div class="large-12 large-offset-2 columns">
      <div class="row">
        <div class="large-6  large-offset-2 columns">
          <div class="alert-box round text-center danger">
             Το όνομα Χρήστη ή ο κωδικός είναι λάθος.
          </div>
        </div>
      </div>
    </div>

    <form name="myForm" method="POST" action="/login">
      <div class="row">
        <p> </p>
        <div class="large-9 columns">
          <label>Όνομα Χρήστη: </label>
            <input name="username" type="text" placeholder="Εισάγετε το όνομα λογαριασμού σας για το Πληροφοριακό Σύστημα Αξιολόγησης Προγραμμάτων Σπουδών." required/>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-9 columns">
          <label>Συνθηματικό: </label>
            <input name="password" type="password" placeholder="Εισάγετε το συνθηματικό εισόδου που συνοδεύει το όνομα λογαριασμού σας." required/>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-9 columns">
          <button type="submit">Είσοδος</button>
        </div>
      </div>
    </form>

</div>
{{template "footer.tmpl"}}
