<div class="large-6 columns">

<form method="POST" action="lesson/create/create">


  <div class="row">
    <div class="large-12 columns">
      <label>Τρόποι Αξιολόγησης</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis-grapti-eksetasi" required=""> Εξέταση γραπτή στο τέλος του Εξαμήνου</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis-proforiki-eksetasi" required=""> Εξέταση προφορική στο τέλος του Εξαμήνου</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis-proodos" required=""> Πρόοδος (ενδιάμεση εξέταση)</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis-katoi-kon-ergasia" required=""> Κατ' οίκον εργασία</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis-proforiki-parousiasi-ergasias" required=""> Προφορική παρουσίαση εργασίας</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis-ergashtirio-praktikes-askiseis" required=""> Εργαστήριο ή πρακτικές ασκήσεις</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis-alla" required=""> Άλλα *</label>

    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Επεξηγήσεις - Άλλα
        <textarea rows="4" name="lesson_aksiologisi_ths_epidosis-epeksigiseis-alla" type="text" placeholder=""></textarea>
      </label>
      <small>Περιγράψτε συνοπτικά τυχόν άλλους τρόπους αξιολόγησης</small>
    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Τρόποι Αξιολόγησης</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis-parakolou8ish-spoudaston-sto-erg" required=""> Κατά την εκτέλεση των εργαστηριακών ή πρακτικών ασκήσεων παρακολουθούνται όλοι οι σπουδαστές.</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_aksiologisi_ths_epidosis-sxolia-mesa-eksaminou" required=""> Οι σπουδαστές λαμβάνουν συστηματικά σχόλια (προφορικά ή γραπτά) στο μέσον του εξαμήνου.</label>
    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Πώς διασφαλίζετε τη διαφάνεια στην αξιολόγηση της επίδοσης των σπουδαστών;
        <textarea rows="4" name="lesson_aksiologisi_ths_epidosis-diafania-aksiologisis-tis-epidosis" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
