{{template "header.tmpl"}}

<dl class="tabs vertical lesson-tab-fix-size" data-tab>
  <dd class="active"><a href="#panel1">Περιγραφή</a></dd>
  <dd><a href="#panel2">Διδασκαλία</a></dd>
  <dd><a href="#panel3">Ενημέρωση - Αξιολόγηση</a></dd>
  <dd><a href="#panel4">Διδακτέα Ύλη</a></dd>
  <dd><a href="#panel5">Διδακτικά Βοηθήματα</a></dd>
  <dd><a href="#panel6">Άλλες Εκπαιδευτικές Δραστηριότητες</a></dd>
  <dd><a href="#panel7">Επικοινωνία & Καθοδήγηση Σπουδαστών / Συνεργασίες</a></dd>
  <dd><a href="#panel8">Συμμετοχή Σπουδαστών</a></dd>
  <dd><a href="#panel9">Αξιολόγηση της επίδοσης των μαθητών στο μάθημα</a></dd>
  <dd><a href="#panel10">Διαθέσιμη εκπαιδευτική υποδομή του μαθήματος</a></dd>
  <dd><a href="#panel11">Αξιοποίηση Τεχνολογιών Πληροφορικής και Επικοινωνιών (ΤΠΕ)</a></dd>
  <dd><a href="#panel12">Εκπαιδευτικά Μέσα</a></dd>
  <dd><a href="#panel13">Στατιστικά Στοιχεία Σπουδαστών</a></dd>
  <dd><a href="#panel14">Κατανομή βαθμών σπουδαστών (%)</a></dd>
  <dd><a href="#panel15">Η άποψη των σπουδαστών για το μάθημα</a></dd>
  <dd><a href="#panel15">Σχόλια</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel2">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel3">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel4">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel5">
    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel6">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel7">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel8">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel9">
    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel10">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel11">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel12">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel13">
    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel14">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel15">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel16">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel16">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div>

{{template "footer.tmpl"}}
