<div class="large-6 columns">

<form method="POST" action="lesson/create/create">

  <div class="row">
    <div class="large-12 columns">
      <label>Σελίδα Οδηγού Σπουδών
        <input type="number" name="lesson_enhmerwsi_selida_odigou_spoudon" placeholder="">
      </label>
      <small>Αφήστε κενό το πεδίο αν δεν περιλαμβάνεται στον Οδηγό Σπουδών</small>
    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Ιστότοπος Μαθήματος (Διεύθυνση URL)
        <input type="text" name="lesson_enhmerwsi_website" placeholder="">
      </label>
      <small>Αφήστε το πεδίο κενό αν δεν υπάρχει Ιστότοπος του Μαθήματος</small>
    </div>
  </div>

<br/>
  <div class="row">
    <div class="large-12 columns">
      <label for="checkbox1"><input type="checkbox" id="lesson_enhmerwsi_aksiologisi-E" required=""> Αξιολόγηση από Σπουδαστή Θ</label>
      <label for="checkbox1"><input type="checkbox" id="lesson_enhmerwsi_aksiologisi-8" required=""> Αξιολόγηση από Σπουδαστή E</label>
    </div>
  </div>

<br/>

  <div class="row">
    <div class="large-12 columns">
      <label>Αριθμός Σπουδαστών που Αξιολόγησαν το Μάθημα
        <input type="number" name="lesson_enhmerwsi_ari8mos-spoudaston-pou-aksiologisan-to-ma8ima" placeholder="">
      </label>
      <small>Αφήστε το πεδίο κενό αν το μάθημα δεν αξιολογήθηκε καθόλου από τους φοιτητές</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
