<div class="large-6 columns">

<form method="POST" action="lesson/create/create">
  <div class="row">
    <div class="large-12 columns">
      <label>Έχετε ανακοινωμένες ώρες γραφείου για συνεργασία με τους σπουδαστές;
        <textarea rows="4" name="lesson_epikoinonia-wres-grafeiou" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Πώς μεθοδεύετε την εκπαίδευση των σπουδαστών στην ερευνητική διαδικασία (π.χ. αναζήτηση και χρήση βιβλιογραφίας);
        <textarea rows="4" name="lesson_epikoinonia-ekepedeusi-methodos" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Οργάνωση εκπαιδευτικών επισκέψεων κ.τ.λ.
        <textarea rows="4" name="lesson_epikoinonia-organosi-ekpedeutikon-episkepseon" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
