<div class="large-6 columns">

<form method="POST" action="lesson/create/create">
  <div class="row">
    <div class="large-12 columns">
      <label>Περιγραφή / Περιεχόμενο μαθήματος
        <textarea rows="4" name="lesson_perigrafi_periexomeno-ma8imatos" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Μαθησιακοί Στόχοι
        <textarea rows="4" name="lesson_perigrafi_ma8isiakoi-stoxoi" type="text" placeholder=""></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Αποθύκευση</a>
    </div>
  </div>
</form>

</div>
